.form-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.l-body {
  max-width: 650px;
}

mat-form-field {
  display: block;
  width: 100%;
}

.teams {
  display: flex;
  align-items: center;
}

.project-name {
  margin: 10px 0 30px;
}
