@use '~@angular/material' as mat;
@import "variables";

$helpIcon: 16px;

.help-button {
  width: $helpIcon;
  height: 19px;
  line-height: $helpIcon;
  min-width: $helpIcon;
  margin-left: -2px;
  margin-right: 2px;
  color: mat.get-color-from-palette(mat.$gray-palette, 800);

  mat-icon {
    font-size: $helpIcon;
    height: 19px;
    width: $helpIcon;
    line-height: $helpIcon;
  }
}
