@use '~@angular/material' as mat;
@import "variables";

section {
  margin-bottom: 16px;

  h3 {
    padding-top: 8px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $small - 1) {
    flex-direction: column-reverse;
  }

  .space {
    margin-right: 16px;
  }

  p,
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navigation-buttons {
    @media screen and (max-width: $small - 1) {
      margin: 0 auto 8px;
    }
  }
}

.tags {
  margin-top: 16px;
}

.tags .spacer {
  margin-left: 8px;
}

gt-entry-request {
  display: block;
}

.pseudo-chip-list {
  margin: 4px 0 20px;
  padding: 0;
  overflow: hidden;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}
.pseudo-chip {
  margin-top: 6px;
  margin-right: 8px;
  padding: 2px 12px;
  border-radius: 16px;
  border: 1px solid mat.get-color-from-palette(mat.$gray-palette, 500);
  background-color: #fefefe;
  float: left;
  list-style: none;
  transition: 0.3s;

  &:hover {
    background: mat.get-color-from-palette(mat.$gray-palette, 100);
  }
}
.pseudo-chip-key {
  font-size: 0.8em;
  padding-right: 10px;
  opacity: 0.8;
}
.pseudo-chip-value {
  vertical-align: -0.07em;
}
