<div class="l-body">
  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="enableUserRegistration$ | async; else elseBlock">
        <mat-card-title>Create a New Organization</mat-card-title>
        <p *ngIf="(organizationCount$ | async) === 0">
          This is the first step to get started with GlitchTip.
        </p>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          id="create-organization-form"
        >
          <mat-error *ngIf="error">{{ error }}</mat-error>
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name" />
          </mat-form-field>
          <button id="submit" mat-flat-button color="primary">
            Create Organization
          </button>
        </form>
      </ng-container>
      <ng-template #elseBlock>
        Registration has been disabled on this instance of GlitchTip.
        Contact an administrator to be invited into an existing organization.
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
