<div class="margin-set">
  <h1 class="header-left">Log in with authenticator app</h1>
  <mat-card-content class="contents-left">
    <div class="instructions">
      Enter the code from the authenticator app on your mobile device. If you’ve
      lost your device, you may enter one of your recovery codes.
    </div>
    <form class="contents-left" [formGroup]="form" (ngSubmit)="onSubmit()">
      <gt-form-error
        class="error-center"
        [error]="error$ | async"
      ></gt-form-error>
      <mat-form-field class="full-width">
        <mat-label>Verification Code</mat-label>
        <input matInput formControlName="code" />
        <mat-error *ngIf="code?.invalid">
          <span *ngIf="code?.errors?.required">Required</span>
          <span *ngIf="code?.errors?.minlength || code?.errors?.maxlength">
            Code must be of length 6 or 16
          </span>
          <span *ngFor="let serverError of code?.errors?.serverError">{{
            serverError
          }}</span>
        </mat-error>
      </mat-form-field>
      <button id="submit" mat-flat-button color="primary">Login</button>
    </form>

    <a *ngIf="hasFIDO2$ | async">User U2F device instead.</a>
  </mat-card-content>
</div>
